<% if(errors && errors.length> 0) { %>
    Can't launch election!
    <div class="bg-red-600 text-white px-4 py-2 rounded-md list-inside">
        <% for(let err of errors) { %>
            <li>
                <%= err %>
            </li>
        <% } %>
    </div>
<% } %>