<header class="border border-purple-800 py-2 px-3 font-extrabold text-white italic flex justify-between">
    <a href="/" class="text-3xl text-purple-800">Votify</a> 
    <% if (isLoggedIn){ %>
    <form action="/signout">
        <button class="align-baseline h-full border-2 border-purple-800 text-purple-800 rounded-md px-3">Logout</button>
    </form>
    <% } %>
</header>