<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Elections</title>
</head>
<body class="bg-slate-200">
    <%- include('header') %> 
    <div class="flex-col flex justify-center gap-y-2.5 p-4 max-w-2xl m-auto">
        <%- include('breadcrumb') %> 
        <div class="border-2 border-purple p-2">
            <h3 class="text-2xl text-purple-800"><%= question.title  %> </h3>
            <p><%= question.description %></p>
        </div>
    </div>
</body>
</html>
